*{
  margin: 0;
  padding: 0;
}

body{
  background-color: rgba(206, 204, 204, 0.678)!important;
}

.logo{
  height: 70px;
  width: 70px;
}

.card{
  height: 280px;
}
.card-img-top,.img-fluid{
  height: 260px!important;
}

.img-fluid1{
  height: auto!important;
}

.row {
    margin-right: 0!important;
    margin-left: 0!important;
}


.btn-black{
  background:transparent;
  text-transform: capitalize;
  font-size: 0.8rem!important;
  color: black!important;
  border-radius: 0!important;
  border:0.1rem solid black!important;
  transition: all 3s ease-in;
}
.btn-black:hover{
  background: black;
  color: white!important;
}
.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: yellow;
}
/* nav{
  display: flex;
  justify-content: space-between;
  padding: 5px 10px 10px 5px;
  align-items: center;
} */
/* .top-nav{
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.top-nav h4{
  font-size: 1.25rem;
} */
